<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Add Reparation</title>-->
<!--</head>-->
<!--<body>-->
<!--<div th:replace="fragments/header :: header"></div>-->

<!--<h2>Add Reparation for <span th:text="${garage.nom}"></span></h2>-->
<!--<form th:action="@{'/garages/' + ${garage.id} + '/mecaniciens/' + ${mIndex} + '/reparations'}" th:object="${reparation}" method="post">-->
<!--    Type: <input type="text" th:field="*{reparation.type}" required/><br>-->
<!--    Date: <input type="date" th:field="*{reapartion.date}" required/><br>-->
<!--    Cost: <input type="number" th:field="*{reparation.cout}" required/><br>-->
<!--    <button type="submit">Add Reparation</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
